<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CNN" connectionString="Data Source=servidor;Initial Catalog=BancoDeDados;User ID=Usuario; Password=Senha;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>